# Enron Fraud POI Identifier
Udacity Intro to Machine Learning - Data Analyst Nanodegree Project 5

Author: Max Edwards

Date: January 12, 2015

## Enron Dataset Exploration

In [134]:
import pickle
import pprint
enron_data = pickle.load(open("../final_project/final_project_dataset.pkl", "r"))

The code chunk above loads the data

In [135]:
print("The number of people in the dataset {:.0f}".format(len(enron_data.keys())))

The number of people in the dataset 146

In [136]:
print("The number of data fields for each person are {:.0f}".format(len(enron_data['METTS MARK'])))

The number of data fields for each person are 21

In [137]:
print("The keys in the data set are: {}".format(enron_data['METTS MARK'].keys()))

The keys in the data set are: ['salary', 'to_messages', 'deferral_payments', 'total_payments', 'exercised_stock_options', 'bonus', 'restricted_stock', 'shared_receipt_with_poi', 'restricted_stock_deferred', 'total_stock_value', 'expenses', 'loan_advances', 'from_messages', 'other', 'from_this_person_to_poi', 'poi', 'director_fees', 'deferred_income', 'long_term_incentive', 'email_address', 'from_poi_to_this_person']

In [138]:
count = 0
for person in enron_data.keys():
    if enron_data[person]["poi"] == 1:
        count += 1
    else:
        continue
print("The number of pois (positive labels) is {}".format(count))

The number of pois (positive labels) is 18

In [139]:
# Check Salary
count_non_nans = 0
count_nans = 0
for key in enron_data.keys():
    if enron_data[key]['salary'] != 'NaN':
        count_non_nans += 1
    else:
        count_nans += 1
print("The amount of people with a known salary are {}".format(count_non_nans))
print("The amount of people with an unknown salary are {}".format(count_nans))

# Check emails
count_non_nans = 0
count_nans = 0
for key in enron_data.keys():
    if enron_data[key]['email_address'] != 'NaN':
        count_non_nans += 1
    else:
        count_nans += 1
print("")
print("The amount of people with a known email are {}".format(count_non_nans))
print("The amount of people with an unknown email are {}".format(count_nans))

The amount of people with a known salary are 95
The amount of people with an unknown salary are 51

The amount of people with a known email are 111
The amount of people with an unknown email are 35

In [140]:
# Percentage of people who have "NaN" as their total payments
count_non_nans = 0
count_nans = 0
for key in enron_data.keys():
    if enron_data[key]['total_payments'] != 'NaN':
        count_non_nans += 1
    else:
        count_nans += 1
print("The amount of people with a value for total payments are {}".format(count_non_nans))
print("The amount of people with a **NaN** value for total payments are {}".format(count_nans))
print("Percentage {:.2f}".format(float(count_nans)/(float(count_non_nans) + float(count_nans))))

The amount of people with a value for total payments are 125
The amount of people with a **NaN** value for total payments are 21
Percentage 0.14

In [141]:
# Percentage of POIs who have "NaN" as their total payments
count_non_nans = 0
count_nans = 0
for key in enron_data.keys():
    if enron_data[key]['poi'] == 1:
        if enron_data[key]['total_payments'] != 'NaN':
            count_non_nans += 1
        else:
            count_nans += 1
    else:
        continue
print("The amount of POIs with a value for total payments are {}".format(count_non_nans))
print("The amount of POIs with a **NaN** value for total payments are {}".format(count_nans))
print("Percentage {:.2f}".format(float(count_nans)/(float(count_non_nans) + float(count_nans))))

The amount of POIs with a value for total payments are 18
The amount of POIs with a **NaN** value for total payments are 0
Percentage 0.00

The two code chunks identify that all POIs have a `totalpayments` value. Therefore, if I tried to collect additional POIs without having a `totalpaynments` value for them, it would be counterproductive.

In [142]:
# Outlier salary / bonus
for key in enron_data.keys():
    if enron_data[key]['salary'] > 1000000 and enron_data[key]['salary'] != 'NaN':
        print "name: " + key
        print "salary:", enron_data[key]['salary']
        print "bonus: ", enron_data[key]['bonus']

name: LAY KENNETH L
salary: 1072321
bonus:  7000000
name: SKILLING JEFFREY K
salary: 1111258
bonus:  5600000
name: TOTAL
salary: 26704229
bonus:  97343619
name: FREVERT MARK A
salary: 1060932
bonus:  2000000

Prior using the data to build predicitive models, it's prudent to check for outliers. The above output identifies several individuals with very large salaries. It turns out there is a key for "TOTAL". This will need to be removed.

In [143]:
import operator
#count 'Nan' per key to see who is missing al ot of data
#found 'THE TRAVEL AGENCY IN THE PARK with 18 NaNs
count_dict = {}
for name in enron_data.keys():
    for value in enron_data[name].values():
        if value == 'NaN':
            count += 1
    count_dict[name] = count
    count = 0
sorted_dict = sorted(count_dict.items(), key=operator.itemgetter(1))
pprint.pprint(sorted_dict)

[('HAEDICKE MARK E', 2),
 ('LAY KENNETH L', 2),
 ('ALLEN PHILLIP K', 2),
 ('FREVERT MARK A', 2),
 ('PIPER GREGORY F', 3),
 ('DERRICK JR. JAMES V', 3),
 ('HANNON KEVIN P', 4),
 ('MULLER MARK S', 4),
 ('RIEKER PAULA H', 4),
 ('OLSON CINDY K', 4),
 ('BELDEN TIMOTHY N', 4),
 ('RICE KENNETH D', 4),
 ('WASAFF GEORGE', 4),
 ('SHARP VICTORIA T', 4),
 ('BUY RICHARD B', 4),
 ('MCMAHON JEFFREY', 5),
 ('BLACHMAN JEREMY M', 5),
 ('COLWELL WESLEY', 5),
 ('WALLS JR ROBERT H', 5),
 ('SHANKMAN JEFFREY A', 5),
 ('BERGSIEKER RICHARD P', 5),
 ('BIBI PHILIPPE A', 5),
 ('LAVORATO JOHN J', 5),
 ('BANNANTINE JAMES M', 5),
 ('SHELBY REX', 5),
 ('DEFFNER JOSEPH M', 5),
 ('WHALLEY LAWRENCE G', 5),
 ('MCCONNELL MICHAEL S', 5),
 ('DELAINEY DAVID W', 5),
 ('FALLON JAMES B', 5),
 ('BOWEN JR RAYMOND M', 5),
 ('FITZGERALD JAY L', 5),
 ('DURAN WILLIAM D', 5),
 ('THORN TERENCE H', 5),
 ('CALGER CHRISTOPHER F', 5),
 ('KAMINSKI WINCENTY J', 5),
 ('COX DAVID', 5),
 ('SKILLING JEFFREY K', 5),
 ('KEAN STEVEN J', 5),
 ('MCCLELLAN GEORGE', 5),
 ('BUCHANAN HAROLD G', 5),
 ('MURRAY JULIA H', 5),
 ('GARLAND C KEVIN', 5),
 ('DIETRICH JANET R', 5),
 ('KOENIG MARK E', 5),
 ('TILNEY ELIZABETH A', 5),
 ('CAUSEY RICHARD A', 5),
 ('DONAHUE JR JEFFREY M', 5),
 ('GLISAN JR BEN F', 5),
 ('JACKSON CHARLENE R', 6),
 ('KITCHEN LOUISE', 6),
 ('HICKERSON GARY J', 6),
 ('SHAPIRO RICHARD S', 6),
 ('SHERRIFF JOHN R', 6),
 ('TOTAL', 6),
 ('CARTER REBECCA C', 6),
 ('IZZO LAWRENCE L', 6),
 ('MARTIN AMANDA K', 6),
 ('SUNDE MARTIN', 7),
 ('BECK SALLY W', 7),
 ('LEFF DANIEL P', 7),
 ('DETMERING TIMOTHY J', 7),
 ('PICKERING MARK R', 7),
 ('TAYLOR MITCHELL S', 7),
 ('HUMPHREY GENE E', 8),
 ('REDMOND BRIAN L', 8),
 ('REYNOLDS LAWRENCE', 8),
 ('BHATNAGAR SANJAY', 8),
 ('BAXTER JOHN C', 9),
 ('MEYER ROCKFORD G', 9),
 ('GIBBS DANA R', 9),
 ('LINDHOLM TOD A', 9),
 ('HERMANN ROBERT J', 9),
 ('HORTON STANLEY C', 9),
 ('DODSON KEITH', 9),
 ('BAY FRANKLIN R', 9),
 ('ELLIOTT STEVEN', 10),
 ('HAUG DAVID L', 10),
 ('ECHOLS JOHN B', 10),
 ('HAYES ROBERT E', 10),
 ('BUTTS ROBERT H', 10),
 ('GAHN ROBERT S', 10),
 ('DIMICHELE RICHARD G', 10),
 ('FASTOW ANDREW S', 10),
 ('FOY JOE', 10),
 ('UMANOFF ADAM S', 10),
 ('CORDES WILLIAM R', 11),
 ('WESTFAHL RICHARD K', 11),
 ('KOPPER MICHAEL J', 11),
 ('GOLD JOSEPH', 11),
 ('MCDONALD REBECCA', 11),
 ('MORAN MICHAEL P', 11),
 ('OVERDYKE JR JERE C', 11),
 ('SHERRICK JEFFREY B', 11),
 ('FOWLER PEGGY', 11),
 ('WHITE JR THOMAS E', 11),
 ('HUGHES JAMES A', 11),
 ('PAI LOU L', 11),
 ('MCCARTY DANNY J', 11),
 ('MORDAUNT KRISTINA M', 12),
 ('LEWIS RICHARD', 12),
 ('POWERS WILLIAM', 12),
 ('KISHKILL JOSEPH G', 12),
 ('PIRO JIM', 12),
 ('SULLIVAN-SHAKLOVITZ COLLEEN', 12),
 ('CUMBERLAND MICHAEL S', 12),
 ('STABLER FRANK', 12),
 ('BROWN MICHAEL', 12),
 ('YEAGER F SCOTT', 12),
 ('HAYSLETT RODERICK J', 12),
 ('BERBERIAN DAVID', 13),
 ('BAZELIDES PHILIP J', 13),
 ('JAEDICKE ROBERT', 13),
 ('HIRKO JOSEPH', 13),
 ('BELFER ROBERT', 14),
 ('PRENTICE JAMES', 14),
 ('NOLES JAMES L', 15),
 ('WALTERS GARETH W', 15),
 ('DUNCAN JOHN H', 15),
 ('LEMAISTRE CHARLES', 15),
 ('BADUM JAMES P', 15),
 ('GRAY RODNEY', 15),
 ('LOWRY CHARLES P', 16),
 ('CHAN RONNIE', 16),
 ('URQUHART JOHN A', 16),
 ('MENDELSOHN JOHN', 16),
 ('MEYER JEROME J', 16),
 ('GATHMANN WILLIAM D', 16),
 ('PEREIRA PAULO V. FERRAZ', 16),
 ('BLAKE JR. NORMAN P', 16),
 ('CHRISTODOULOU DIOMEDES', 16),
 ('WINOKUR JR. HERBERT S', 16),
 ('YEAP SOON', 16),
 ('FUGH JOHN L', 16),
 ('WODRASKA JOHN', 17),
 ('CLINE KENNETH W', 17),
 ('WAKEHAM JOHN', 17),
 ('GILLIS JOHN', 17),
 ('SCRIMSHAW MATTHEW', 17),
 ('SAVAGE FRANK', 17),
 ('WHALEY DAVID A', 18),
 ('WROBEL BRUCE', 18),
 ('THE TRAVEL AGENCY IN THE PARK', 18),
 ('GRAMM WENDY L', 18),
 ('LOCKHART EUGENE E', 20),
 ('METTS MARK', 25)]

`LOCKHART EUGENE E` has all 'NaN' values. Also, `THE TRAVEL AGENCY IN THE PARK` is not a person. Therefore I will remove these from the dataset prior to modeling.

## Data Cleaning/Preparation

In [144]:
### Clean dataset. Remove outliers Function and other cleaning
def cleanEnron(d):
    """
    Remove outliers from Enron dataset and other unwated data
    """
    ## Delete unwated keys
    del d['TOTAL']
    del d['THE TRAVEL AGENCY IN THE PARK']
    del d['LOCKHART EUGENE E']
    
    return d
data = cleanEnron(enron_data)

These keys removed were identified to be removed from the dataset during data exploration.

In [145]:
# Create additional features
for name in data.keys():
    # uses computeFraction function from poi_clean.py    
    from_to_poi_ratio = computeFraction(data[name]['from_this_person_to_poi'], data[name]['from_messages'] )
    data[name]['from_to_poi_ratio'] = from_to_poi_ratio

In [146]:
# Confirm from_to_poi_ratio added - choose METTS MARK but could of been anyone to view all values
data['METTS MARK']

{'to_messages': 807, 'deferral_payments': 'NaN', 'expenses': 94299, 'poi': False, 'deferred_income': 'NaN', 'email_address': 'mark.metts@enron.com', 'long_term_incentive': 'NaN', 'from_to_poi_ratio': 0.034482758620689655, 'restricted_stock_deferred': 'NaN', 'shared_receipt_with_poi': 702, 'loan_advances': 'NaN', 'from_messages': 29, 'other': 1740, 'director_fees': 'NaN', 'bonus': 600000, 'total_stock_value': 585062, 'from_poi_to_this_person': 38, 'from_this_person_to_poi': 1, 'restricted_stock': 585062, 'salary': 365788, 'total_payments': 1061827, 'exercised_stock_options': 'NaN'}

In [147]:
from pandas import DataFrame as pd

df = pd.from_dict(data, orient='index')

In [148]:
df.head()

,to_messages,deferral_payments,expenses,poi,deferred_income,email_address,long_term_incentive,from_to_poi_ratio,restricted_stock_deferred,shared_receipt_with_poi,...,other,director_fees,bonus,total_stock_value,from_poi_to_this_person,from_this_person_to_poi,restricted_stock,salary,total_payments,exercised_stock_options
ALLEN PHILLIP K,2902,2869717,13868,False,-3081055,phillip.allen@enron.com,304805,0.029613,-126027,1407,...,152,NaN,4175000,1729541,47,65,126027,201955,4484442,1729541
BADUM JAMES P,NaN,178980,3486,False,NaN,NaN,NaN,0.000000,NaN,NaN,...,NaN,NaN,NaN,257817,NaN,NaN,NaN,NaN,182466,257817
BANNANTINE JAMES M,566,NaN,56301,False,-5104,james.bannantine@enron.com,NaN,0.000000,-560222,465,...,864523,NaN,NaN,5243487,39,0,1757552,477,916197,4046157
BAXTER JOHN C,NaN,1295738,11200,False,-1386055,NaN,1586055,0.000000,NaN,NaN,...,2660303,NaN,1200000,10623258,NaN,NaN,3942714,267102,5634343,6680544
BAY FRANKLIN R,NaN,260455,129142,False,-201641,frank.bay@enron.com,NaN,0.000000,-82782,NaN,...,69,NaN,400000,63014,NaN,NaN,145796,239671,827696,NaN

In [149]:
# Dimensions
df.shape

(143, 22)

In [150]:
poi = df.pop('poi')

In [151]:
df.insert(0, 'poi', poi)

In [152]:
# Check that poi is first column after the name
df.head()

,poi,to_messages,deferral_payments,expenses,deferred_income,email_address,long_term_incentive,from_to_poi_ratio,restricted_stock_deferred,shared_receipt_with_poi,...,other,director_fees,bonus,total_stock_value,from_poi_to_this_person,from_this_person_to_poi,restricted_stock,salary,total_payments,exercised_stock_options
ALLEN PHILLIP K,False,2902,2869717,13868,-3081055,phillip.allen@enron.com,304805,0.029613,-126027,1407,...,152,NaN,4175000,1729541,47,65,126027,201955,4484442,1729541
BADUM JAMES P,False,NaN,178980,3486,NaN,NaN,NaN,0.000000,NaN,NaN,...,NaN,NaN,NaN,257817,NaN,NaN,NaN,NaN,182466,257817
BANNANTINE JAMES M,False,566,NaN,56301,-5104,james.bannantine@enron.com,NaN,0.000000,-560222,465,...,864523,NaN,NaN,5243487,39,0,1757552,477,916197,4046157
BAXTER JOHN C,False,NaN,1295738,11200,-1386055,NaN,1586055,0.000000,NaN,NaN,...,2660303,NaN,1200000,10623258,NaN,NaN,3942714,267102,5634343,6680544
BAY FRANKLIN R,False,NaN,260455,129142,-201641,frank.bay@enron.com,NaN,0.000000,-82782,NaN,...,69,NaN,400000,63014,NaN,NaN,145796,239671,827696,NaN

In [153]:
import sys
sys.path.append("..\\tools\\")
from feature_format import featureFormat, targetFeatureSplit

labels, features = targetFeatureSplit(df.values)

In [154]:
labels

[False, False, False, False, False, False, False, True, False, False, False, False, False, False, False, True, False, False, False, False, True, False, True, False, False, False, True, False, False, False, False, True, False, False, False, False, False, False, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, False, True, False, False, False, False, True, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, False, True, True, False, True, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, True, True, False, False, False, False, False, True, False, False, True, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, True, False]

In [155]:
features

[array([2902, 2869717, 13868, -3081055, 'phillip.allen@enron.com', 304805,
       0.029612756264236904, -126027, 1407, 'NaN', 2195, 152, 'NaN',
       4175000, 1729541, 47, 65, 126027, 201955, 4484442, 1729541], dtype=object), array(['NaN', 178980, 3486, 'NaN', 'NaN', 'NaN', 0.0, 'NaN', 'NaN', 'NaN',
       'NaN', 'NaN', 'NaN', 'NaN', 257817, 'NaN', 'NaN', 'NaN', 'NaN',
       182466, 257817], dtype=object), array([566, 'NaN', 56301, -5104, 'james.bannantine@enron.com', 'NaN', 0.0,
       -560222, 465, 'NaN', 29, 864523, 'NaN', 'NaN', 5243487, 39, 0,
       1757552, 477, 916197, 4046157], dtype=object), array(['NaN', 1295738, 11200, -1386055, 'NaN', 1586055, 0.0, 'NaN', 'NaN',
       'NaN', 'NaN', 2660303, 'NaN', 1200000, 10623258, 'NaN', 'NaN',
       3942714, 267102, 5634343, 6680544], dtype=object), array(['NaN', 260455, 129142, -201641, 'frank.bay@enron.com', 'NaN', 0.0,
       -82782, 'NaN', 'NaN', 'NaN', 69, 'NaN', 400000, 63014, 'NaN', 'NaN',
       145796, 239671, 827696, 'NaN'], dtype=object), array(['NaN', 684694, 'NaN', 'NaN', 'NaN', 93750, 0.0, 'NaN', 'NaN', 'NaN',
       'NaN', 874, 'NaN', 'NaN', 1599641, 'NaN', 'NaN', 'NaN', 80818,
       860136, 1599641], dtype=object), array([7315, 'NaN', 37172, 'NaN', 'sally.beck@enron.com', 'NaN',
       0.08887865530739121, 'NaN', 2639, 'NaN', 4343, 566, 'NaN', 700000,
       126027, 144, 386, 126027, 231330, 969068, 'NaN'], dtype=object), array([7991, 2144013, 17355, -2334434, 'tim.belden@enron.com', 'NaN',
       0.2231404958677686, 'NaN', 5521, 'NaN', 484, 210698, 'NaN', 5249999,
       1110705, 228, 108, 157569, 213999, 5501630, 953136], dtype=object), array(['NaN', -102500, 'NaN', 'NaN', 'NaN', 'NaN', 0.0, 44093, 'NaN',
       'NaN', 'NaN', 'NaN', 3285, 'NaN', -44093, 'NaN', 'NaN', 'NaN',
       'NaN', 102500, 3285], dtype=object), array(['NaN', 'NaN', 11892, 'NaN', 'david.berberian@enron.com', 'NaN', 0.0,
       'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 2493616, 'NaN',
       'NaN', 869220, 216582, 228474, 1624396], dtype=object), array([383, 'NaN', 59175, -485813, 'rick.bergsieker@enron.com', 180250,
       0.0, 'NaN', 233, 'NaN', 59, 427316, 'NaN', 250000, 659249, 4, 0,
       659249, 187922, 618850, 'NaN'], dtype=object), array([523, 'NaN', 'NaN', 'NaN', 'sanjay.bhatnagar@enron.com', 'NaN',
       0.034482758620689655, 15456290, 463, 'NaN', 29, 137864, 137864,
       'NaN', 'NaN', 0, 1, -2604490, 'NaN', 15456290, 2604490], dtype=object), array([1607, 'NaN', 38559, 'NaN', 'philippe.bibi@enron.com', 369721, 0.2,
       'NaN', 1336, 'NaN', 40, 425688, 'NaN', 1000000, 1843816, 23, 8,
       378082, 213625, 2047593, 1465734], dtype=object), array([2475, 'NaN', 84208, 'NaN', 'jeremy.blachman@enron.com', 831809,
       0.14285714285714285, 'NaN', 2326, 'NaN', 14, 272, 'NaN', 850000,
       954354, 25, 2, 189041, 248546, 2014835, 765313], dtype=object), array(['NaN', 'NaN', 1279, -113784, 'NaN', 'NaN', 0.0, 'NaN', 'NaN', 'NaN',
       'NaN', 'NaN', 113784, 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN',
       1279, 'NaN'], dtype=object), array([1858, 'NaN', 65907, -833, 'raymond.bowen@enron.com', 974293,
       0.5555555555555556, 'NaN', 1593, 'NaN', 27, 1621, 'NaN', 1350000,
       252055, 140, 15, 252055, 278601, 2669589, 'NaN'], dtype=object), array([1486, 'NaN', 49288, 'NaN', 'michael.brown@enron.com', 'NaN',
       0.024390243902439025, 'NaN', 761, 'NaN', 41, 'NaN', 'NaN', 'NaN',
       'NaN', 13, 1, 'NaN', 'NaN', 49288, 'NaN'], dtype=object), array([1088, 'NaN', 600, 'NaN', 'john.buchanan@enron.com', 304805, 0.0,
       'NaN', 23, 'NaN', 125, 1215, 'NaN', 500000, 1014505, 0, 0, 189041,
       248017, 1054637, 825464], dtype=object), array(['NaN', 'NaN', 9410, -75000, 'bob.butts@enron.com', 175000, 0.0,
       'NaN', 'NaN', 'NaN', 'NaN', 150656, 'NaN', 750000, 417619, 'NaN',
       'NaN', 417619, 261516, 1271582, 'NaN'], dtype=object), array([3523, 649584, 'NaN', -694862, 'rick.buy@enron.com', 769862,
       0.06742640075973409, 'NaN', 2333, 'NaN', 1053, 400572, 'NaN',
       900000, 3444470, 156, 71, 901657, 330546, 2355702, 2542813], dtype=object), array([2598, 'NaN', 35818, -262500, 'christopher.calger@enron.com', 375304,
       0.1736111111111111, 'NaN', 2188, 'NaN', 144, 486, 'NaN', 1250000,
       126027, 199, 25, 126027, 240189, 1639297, 'NaN'], dtype=object), array([312, 'NaN', 'NaN', -159792, 'rebecca.carter@enron.com', 75000,
       0.4666666666666667, -307301, 196, 'NaN', 15, 540, 'NaN', 300000,
       'NaN', 29, 7, 307301, 261809, 477557, 'NaN'], dtype=object), array([1892, 'NaN', 30674, -235000, 'richard.causey@enron.com', 350000,
       0.24489795918367346, 'NaN', 1585, 'NaN', 49, 307895, 'NaN', 1000000,
       2502063, 58, 12, 2502063, 415189, 1868758, 'NaN'], dtype=object), array(['NaN', 'NaN', 'NaN', -98784, 'NaN', 'NaN', 0.0, -32460, 'NaN',
       'NaN', 'NaN', 'NaN', 98784, 'NaN', 'NaN', 'NaN', 'NaN', 32460,
       'NaN', 'NaN', 'NaN'], dtype=object), array(['NaN', 'NaN', 'NaN', 'NaN', 'diomedes.christodoulou@enron.com',
       'NaN', 0.0, 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN',
       6077885, 'NaN', 'NaN', 950730, 'NaN', 'NaN', 5127155], dtype=object), array(['NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 0.0, -472568, 'NaN',
       'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 189518, 'NaN', 'NaN', 662086,
       'NaN', 'NaN', 'NaN'], dtype=object), array([1758, 27610, 16514, -144062, 'wes.colwell@enron.com', 'NaN', 0.275,
       'NaN', 1132, 'NaN', 40, 101740, 'NaN', 1200000, 698242, 240, 11,
       698242, 288542, 1490344, 'NaN'], dtype=object), array([764, 'NaN', 'NaN', 'NaN', 'bill.cordes@enron.com', 'NaN', 0.0,
       'NaN', 58, 'NaN', 12, 'NaN', 'NaN', 'NaN', 1038185, 10, 0, 386335,
       'NaN', 'NaN', 651850], dtype=object), array([102, 'NaN', 27861, -41250, 'chip.cox@enron.com', 'NaN',
       0.12121212121212122, 'NaN', 71, 'NaN', 33, 494, 'NaN', 800000,
       495633, 0, 4, 378082, 314288, 1101393, 117551], dtype=object), array(['NaN', 'NaN', 22344, 'NaN', 'NaN', 275000, 0.0, 'NaN', 'NaN', 'NaN',
       'NaN', 713, 'NaN', 325000, 207940, 'NaN', 'NaN', 207940, 184899,
       807956, 'NaN'], dtype=object), array([714, 'NaN', 41626, 'NaN', 'joseph.deffner@enron.com', 335349,
       0.05405405405405406, 'NaN', 552, 'NaN', 74, 25553, 'NaN', 600000,
       159211, 115, 4, 141833, 206121, 1208649, 17378], dtype=object), array([3093, 'NaN', 86174, 'NaN', 'david.delainey@enron.com', 1294981,
       0.198435972629521, 'NaN', 2097, 'NaN', 3069, 1661, 'NaN', 3000000,
       3614261, 66, 609, 1323148, 365163, 4747979, 2291113], dtype=object), array([2181, 'NaN', 51124, -1284000, 'james.derrick@enron.com', 484000,
       0.022002200220022004, -1787380, 1401, 'NaN', 909, 7482, 'NaN',
       800000, 8831913, 64, 20, 1787380, 492375, 550981, 8831913], dtype=object), array(['NaN', 875307, 52255, -775241, 'timothy.detmering@enron.com',
       415657, 0.0, -315068, 'NaN', 'NaN', 'NaN', 1105, 'NaN', 425000,
       2027865, 'NaN', 'NaN', 315068, 210500, 1204583, 2027865], dtype=object), array([2572, 'NaN', 3475, 'NaN', 'janet.dietrich@enron.com', 556416,
       0.2222222222222222, 'NaN', 1902, 'NaN', 63, 473, 'NaN', 600000,
       1865087, 305, 14, 315068, 250100, 1410464, 1550019], dtype=object), array(['NaN', 'NaN', 35812, 'NaN', 'richard.dimichele@enron.com', 694862,
       0.0, 'NaN', 'NaN', 'NaN', 'NaN', 374689, 'NaN', 1000000, 8317782,
       'NaN', 'NaN', 126027, 262788, 2368151, 8191755], dtype=object), array([176, 'NaN', 28164, 'NaN', 'keith.dodson@enron.com', 'NaN',
       0.21428571428571427, 'NaN', 114, 'NaN', 14, 774, 'NaN', 70000,
       'NaN', 10, 3, 'NaN', 221003, 319941, 'NaN'], dtype=object), array([865, 'NaN', 96268, -300000, 'jeff.donahue@enron.com', 'NaN', 0.5,
       'NaN', 772, 'NaN', 22, 891, 'NaN', 800000, 1080988, 188, 11, 315068,
       278601, 875760, 765920], dtype=object), array(['NaN', 'NaN', 'NaN', -25000, 'NaN', 'NaN', 0.0, 'NaN', 'NaN', 'NaN',
       'NaN', 'NaN', 102492, 'NaN', 371750, 'NaN', 'NaN', 'NaN', 'NaN',
       77492, 371750], dtype=object), array([904, 'NaN', 25785, 'NaN', 'w.duran@enron.com', 1105218, 0.25, 'NaN',
       599, 'NaN', 12, 1568, 'NaN', 750000, 1640910, 106, 3, 189041,
       210692, 2093263, 1451869], dtype=object), array(['NaN', 'NaN', 21530, 'NaN', 'john.echols@enron.com', 2234774, 0.0,
       'NaN', 'NaN', 'NaN', 'NaN', 53775, 'NaN', 200000, 1008941, 'NaN',
       'NaN', 407503, 182245, 2692324, 601438], dtype=object), array(['NaN', 'NaN', 78552, -400729, 'steven.elliott@enron.com', 'NaN',
       0.0, 'NaN', 'NaN', 'NaN', 'NaN', 12961, 'NaN', 350000, 6678735,
       'NaN', 'NaN', 1788391, 170941, 211725, 4890344], dtype=object), array([1755, 'NaN', 95924, 'NaN', 'jim.fallon@enron.com', 374347,
       0.49333333333333335, 'NaN', 1604, 'NaN', 75, 401481, 'NaN', 2500000,
       2332399, 42, 37, 1392142, 304588, 3676340, 940257], dtype=object), array(['NaN', 'NaN', 55921, -1386055, 'andrew.fastow@enron.com', 1736055,
       0.0, 'NaN', 'NaN', 'NaN', 'NaN', 277464, 'NaN', 1300000, 1794412,
       'NaN', 'NaN', 1794412, 440698, 2424083, 'NaN'], dtype=object), array([936, 'NaN', 23870, 'NaN', 'jay.fitzgerald@enron.com', 556416, 0.5,
       'NaN', 723, 'NaN', 16, 285414, 'NaN', 350000, 1621236, 1, 8, 956775,
       199157, 1414857, 664461], dtype=object), array([517, 'NaN', 'NaN', 'NaN', 'kulvinder.fowler@enron.com', 'NaN', 0.0,
       'NaN', 10, 'NaN', 36, 'NaN', 'NaN', 'NaN', 1884748, 0, 0, 560170,
       'NaN', 'NaN', 1324578], dtype=object), array([57, 181755, 'NaN', 'NaN', 'tracy.foy@enron.com', 'NaN', 0.0, 'NaN',
       2, 'NaN', 13, 'NaN', 'NaN', 'NaN', 343434, 0, 0, 'NaN', 'NaN',
       181755, 343434], dtype=object), array([3275, 6426990, 86987, -3367011, 'mark.frevert@enron.com', 1617011,
       0.2857142857142857, 'NaN', 2979, 2000000, 21, 7427621, 'NaN',
       2000000, 14622185, 242, 6, 4188667, 1060932, 17252530, 10433518], dtype=object), array(['NaN', 50591, 'NaN', 'NaN', 'NaN', 'NaN', 0.0, 'NaN', 'NaN', 'NaN',
       'NaN', 'NaN', 'NaN', 'NaN', 176378, 'NaN', 'NaN', 'NaN', 'NaN',
       50591, 176378], dtype=object), array(['NaN', 73122, 50080, -1042, 'NaN', 'NaN', 0.0, 'NaN', 'NaN', 'NaN',
       'NaN', 76547, 'NaN', 509870, 318607, 'NaN', 'NaN', 235370, 192008,
       900585, 83237], dtype=object), array([209, 'NaN', 48405, 'NaN', 'kevin.garland@enron.com', 375304,
       0.6136363636363636, 'NaN', 178, 'NaN', 44, 60814, 'NaN', 850000,
       896153, 10, 27, 259907, 231946, 1566469, 636246], dtype=object), array(['NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 0.0, -72419, 'NaN', 'NaN',
       'NaN', 'NaN', 'NaN', 'NaN', 1945360, 'NaN', 'NaN', 264013, 'NaN',
       'NaN', 1753766], dtype=object), array([169, 504610, 'NaN', 'NaN', 'dana.gibbs@enron.com', 461912, 0.0,
       'NaN', 23, 'NaN', 12, 'NaN', 'NaN', 'NaN', 2218275, 0, 0, 'NaN',
       'NaN', 966522, 2218275], dtype=object), array(['NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 0.0, 'NaN', 'NaN', 'NaN',
       'NaN', 'NaN', 'NaN', 'NaN', 85641, 'NaN', 'NaN', 75838, 'NaN',
       'NaN', 9803], dtype=object), array([873, 'NaN', 125978, 'NaN', 'ben.glisan@enron.com', 71023, 0.375,
       'NaN', 874, 'NaN', 16, 200308, 'NaN', 600000, 778546, 52, 6, 393818,
       274975, 1272284, 384728], dtype=object), array(['NaN', 'NaN', 'NaN', 'NaN', 'joe.gold@enron.com', 304805, 0.0,
       'NaN', 'NaN', 'NaN', 'NaN', 819288, 'NaN', 750000, 877611, 'NaN',
       'NaN', 441096, 272880, 2146973, 436515], dtype=object), array(['NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 0.0, 'NaN', 'NaN', 'NaN',
       'NaN', 'NaN', 119292, 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN',
       119292, 'NaN'], dtype=object), array(['NaN', 93585, 'NaN', 'NaN', 'NaN', 365625, 0.0, 'NaN', 'NaN', 'NaN',
       'NaN', 680833, 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 6615,
       1146658, 'NaN'], dtype=object), array([4009, 2157527, 76169, -934484, 'mark.haedicke@enron.com', 983346,
       0.03142709943328181, -329825, 1847, 'NaN', 1941, 52382, 'NaN',
       1150000, 803094, 180, 61, 524169, 374125, 3859065, 608750], dtype=object), array([1045, 'NaN', 34039, -3117011, 'kevin.hannon@enron.com', 1617011,
       0.65625, 'NaN', 1035, 'NaN', 32, 11350, 'NaN', 1500000, 6391065, 32,
       21, 853064, 243293, 288682, 5538001], dtype=object), array([573, 'NaN', 475, 'NaN', 'david.haug@enron.com', 'NaN',
       0.3684210526315789, 'NaN', 471, 'NaN', 19, 'NaN', 'NaN', 'NaN',
       2217299, 4, 7, 2217299, 'NaN', 475, 'NaN'], dtype=object), array([504, 7961, 'NaN', 'NaN', 'robert.hayes@enron.com', 'NaN', 0.0,
       'NaN', 50, 'NaN', 12, 'NaN', 'NaN', 'NaN', 151418, 16, 0, 151418,
       'NaN', 7961, 'NaN'], dtype=object), array([2649, 'NaN', 'NaN', 'NaN', 'rod.hayslett@enron.com', 'NaN',
       0.03581526861451461, 'NaN', 571, 'NaN', 1061, 'NaN', 'NaN', 'NaN',
       346663, 35, 38, 346663, 'NaN', 'NaN', 'NaN'], dtype=object), array(['NaN', 'NaN', 48357, -280000, 'robert.hermann@enron.com', 150000,
       0.0, 'NaN', 'NaN', 'NaN', 'NaN', 416441, 'NaN', 700000, 668132,
       'NaN', 'NaN', 480632, 262663, 1297461, 187500], dtype=object), array([1320, 'NaN', 98849, 'NaN', 'gary.hickerson@enron.com', 69223,
       0.037037037037037035, 'NaN', 900, 'NaN', 27, 1936, 'NaN', 1700000,
       441096, 40, 1, 441096, 211788, 2081796, 'NaN'], dtype=object), array(['NaN', 10259, 77978, 'NaN', 'joe.hirko@enron.com', 'NaN', 0.0,
       'NaN', 'NaN', 'NaN', 'NaN', 2856, 'NaN', 'NaN', 30766064, 'NaN',
       'NaN', 'NaN', 'NaN', 91093, 30766064], dtype=object), array([2350, 3131860, 'NaN', 'NaN', 'stanley.horton@enron.com', 'NaN',
       0.013979496738117428, 'NaN', 1074, 'NaN', 1073, 'NaN', 'NaN', 'NaN',
       7256648, 44, 15, 2046079, 'NaN', 3131860, 5210569], dtype=object), array([719, 'NaN', 'NaN', 'NaN', 'james.hughes@enron.com', 'NaN',
       0.14705882352941177, 'NaN', 589, 'NaN', 34, 'NaN', 'NaN', 'NaN',
       1118394, 35, 5, 363428, 'NaN', 'NaN', 754966], dtype=object), array([128, 2964506, 4994, 'NaN', 'gene.humphrey@enron.com', 'NaN', 1.0,
       'NaN', 119, 'NaN', 17, 'NaN', 'NaN', 'NaN', 2282768, 10, 17, 'NaN',
       130724, 3100224, 2282768], dtype=object), array([496, 'NaN', 28093, 'NaN', 'larry.izzo@enron.com', 312500,
       0.2631578947368421, 'NaN', 437, 'NaN', 19, 1553729, 'NaN', 'NaN',
       5819980, 28, 5, 3654808, 85274, 1979596, 2165172], dtype=object), array([258, 'NaN', 10181, 'NaN', 'charlene.jackson@enron.com', 'NaN',
       0.3392857142857143, 'NaN', 117, 'NaN', 56, 2435, 'NaN', 250000,
       725735, 25, 19, 540672, 288558, 551174, 185063], dtype=object), array(['NaN', 'NaN', 'NaN', -25000, 'NaN', 'NaN', 0.0, -44093, 'NaN',
       'NaN', 'NaN', 'NaN', 108750, 'NaN', 431750, 'NaN', 'NaN', 44093,
       'NaN', 83750, 431750], dtype=object), array([4607, 'NaN', 83585, 'NaN', 'vince.kaminski@enron.com', 323466,
       0.011901447661469933, 'NaN', 583, 'NaN', 14368, 4669, 'NaN', 400000,
       976037, 41, 171, 126027, 275101, 1086821, 850010], dtype=object), array([12754, 'NaN', 41953, 'NaN', 'steven.kean@enron.com', 300000,
       0.05725699067909454, 'NaN', 3639, 'NaN', 6759, 1231, 'NaN', 1000000,
       6153642, 140, 387, 4131594, 404338, 1747522, 2022048], dtype=object), array(['NaN', 'NaN', 116335, -51042, 'joe.kishkill@enron.com', 'NaN', 0.0,
       'NaN', 'NaN', 'NaN', 'NaN', 465357, 'NaN', 'NaN', 1034346, 'NaN',
       'NaN', 1034346, 174246, 704896, 'NaN'], dtype=object), array([8305, 'NaN', 5774, 'NaN', 'louise.kitchen@enron.com', 'NaN',
       0.11226851851851852, 'NaN', 3669, 'NaN', 1728, 93925, 'NaN',
       3100000, 547143, 251, 194, 466101, 271442, 3471141, 81042], dtype=object), array([2374, 'NaN', 127017, 'NaN', 'mark.koenig@enron.com', 300000,
       0.2459016393442623, 'NaN', 2271, 'NaN', 61, 150458, 'NaN', 700000,
       1920055, 53, 15, 1248318, 309946, 1587421, 671737], dtype=object), array(['NaN', 'NaN', 118134, 'NaN', 'michael.kopper@enron.com', 602671,
       0.0, 'NaN', 'NaN', 'NaN', 'NaN', 907502, 'NaN', 800000, 985032,
       'NaN', 'NaN', 985032, 224305, 2652612, 'NaN'], dtype=object), array([7259, 'NaN', 49537, 'NaN', 'john.lavorato@enron.com', 2035380,
       0.15899419729206962, 'NaN', 3962, 'NaN', 2585, 1552, 'NaN', 8000000,
       5167144, 528, 411, 1008149, 339288, 10425757, 4158995], dtype=object), array([4273, 202911, 99832, -300000, 'kenneth.lay@enron.com', 3600000,
       0.4444444444444444, 'NaN', 2411, 81525000, 36, 10359729, 'NaN',
       7000000, 49110078, 123, 16, 14761694, 1072321, 103559793, 34348384], dtype=object), array([2822, 'NaN', 'NaN', 'NaN', 'dan.leff@enron.com', 1387399,
       0.2222222222222222, 'NaN', 2672, 'NaN', 63, 3083, 'NaN', 1000000,
       360528, 67, 14, 360528, 273746, 2664228, 'NaN'], dtype=object), array(['NaN', 'NaN', 'NaN', -25000, 'NaN', 'NaN', 0.0, 'NaN', 'NaN', 'NaN',
       'NaN', 'NaN', 112492, 'NaN', 412878, 'NaN', 'NaN', 'NaN', 'NaN',
       87492, 412878], dtype=object), array([952, 'NaN', 'NaN', 'NaN', 'richard.lewis@enron.com', 'NaN', 0.0,
       'NaN', 739, 'NaN', 26, 'NaN', 'NaN', 'NaN', 850477, 10, 0, 'NaN',
       'NaN', 'NaN', 850477], dtype=object), array(['NaN', 204075, 57727, 'NaN', 'tod.lindholm@enron.com', 175000, 0.0,
       'NaN', 'NaN', 'NaN', 'NaN', 2630, 'NaN', 200000, 3064208, 'NaN',
       'NaN', 514847, 236457, 875889, 2549361], dtype=object), array(['NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 0.0, -153686, 'NaN',
       'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 372205, 'NaN', 'NaN', 153686,
       'NaN', 'NaN', 372205], dtype=object), array([1522, 85430, 8211, 'NaN', 'a..martin@enron.com', 5145434, 0.0,
       'NaN', 477, 'NaN', 230, 2818454, 'NaN', 'NaN', 2070306, 8, 0, 'NaN',
       349487, 8407016, 2070306], dtype=object), array([1433, 'NaN', 'NaN', 'NaN', 'danny.mccarty@enron.com', 'NaN',
       0.009302325581395349, 'NaN', 508, 'NaN', 215, 'NaN', 'NaN', 'NaN',
       758931, 25, 2, 94556, 'NaN', 'NaN', 664375], dtype=object), array([1744, 'NaN', 228763, -125000, 'george.mcclellan@enron.com', 'NaN',
       0.0, 'NaN', 1469, 'NaN', 49, 51587, 'NaN', 900000, 947861, 52, 0,
       441096, 263413, 1318763, 506765], dtype=object), array([3329, 'NaN', 81364, 'NaN', 'mike.mcconnell@enron.com', 554422,
       0.07075127644055434, 'NaN', 2189, 'NaN', 2742, 540, 'NaN', 1100000,
       3101279, 92, 194, 1478269, 365038, 2101364, 1623010], dtype=object), array([894, 'NaN', 'NaN', 'NaN', 'rebecca.mcdonald@enron.com', 'NaN',
       0.07692307692307693, 'NaN', 720, 'NaN', 13, 'NaN', 'NaN', 'NaN',
       1691366, 54, 1, 934065, 'NaN', 'NaN', 757301], dtype=object), array([2355, 'NaN', 137108, 'NaN', 'jeffrey.mcmahon@enron.com', 694862,
       0.5416666666666666, 'NaN', 2228, 'NaN', 48, 297353, 'NaN', 2600000,
       1662855, 58, 26, 558801, 370448, 4099771, 1104054], dtype=object), array(['NaN', 'NaN', 148, -103750, 'NaN', 'NaN', 0.0, 'NaN', 'NaN', 'NaN',
       'NaN', 'NaN', 103750, 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 148,
       'NaN'], dtype=object), array([807, 'NaN', 94299, 'NaN', 'mark.metts@enron.com', 'NaN',
       0.034482758620689655, 'NaN', 702, 'NaN', 29, 1740, 'NaN', 600000,
       585062, 38, 1, 585062, 365788, 1061827, 'NaN'], dtype=object), array(['NaN', 'NaN', 2151, -38346, 'NaN', 'NaN', 0.0, 'NaN', 'NaN', 'NaN',
       'NaN', 'NaN', 38346, 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 2151,
       'NaN'], dtype=object), array([232, 1848227, 'NaN', 'NaN', 'rockford.meyer@enron.com', 'NaN', 0.0,
       'NaN', 22, 'NaN', 28, 'NaN', 'NaN', 'NaN', 955873, 0, 0, 462384,
       'NaN', 1848227, 493489], dtype=object), array([672, 'NaN', 'NaN', 'NaN', 'michael.moran@enron.com', 'NaN', 0.0,
       'NaN', 127, 'NaN', 19, 'NaN', 'NaN', 'NaN', 221141, 0, 0, 161602,
       'NaN', 'NaN', 59539], dtype=object), array(['NaN', 'NaN', 35018, 'NaN', 'kristina.mordaunt@enron.com', 'NaN',
       0.0, 'NaN', 'NaN', 'NaN', 'NaN', 1411, 'NaN', 325000, 208510, 'NaN',
       'NaN', 208510, 267093, 628522, 'NaN'], dtype=object), array([136, 842924, 'NaN', -719000, 's..muller@enron.com', 1725545, 0.0,
       'NaN', 114, 'NaN', 16, 947, 'NaN', 1100000, 1416848, 12, 0, 360528,

## Use MinMaxScaler on Features

In [157]:
# scale features
from poi_feature_engineering import scaleFeatures
features = scaleFeatures(features)

NameError: name 'scaleFeatures' is not defined